*{
	padding: 0;
	margin: 0;
}

body{
	background: url('pink.gif');
	background-position: fixed;
	font-family: Montserrat;
	font-size: 14px;
}

h1{
	font-size: 150px;
}

#header_section{
	margin: 30px 30px 180px;
}

#nav{
	list-style: none;
	margin-bottom: 120px;
}

#nav li{
	display: inline-block;	
	margin-right: 10px;
}

#nav li a{
	display: block;
	padding: 10px 20px;
	background-color: #000;
	color: #fff;
	border-radius: 20px;
	text-decoration: none;
}

#nav li a:hover{
	background-color: #333;
}

.img-container{
	position: relative;
}

.img-text-container{
	position: absolute;
	top: 30px;
	left: 30px
}

.page-title{
	font-size: 80px;
}